<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!-- 
CREATED BY	: NANDHINI
CREATED ON	: 13-04-2023
PURPOSE		: BRF REPORT
 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">



<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>


<script th:inline="javascript">
	/*<![CDATA[*/

	var subreportid = /*[[${subreportid}]]*/null;

	var secid = /*[[${secid}]]*/null;

	var permission = /*[[${session.PERMISSIONS}]]*/null;

	var dtltype = /*[[${dtltype}]]*/null;

	$(function() {

		//to make the summary button active on load
		$("#summarybtn").addClass("active");

	});

	//When report type change: set subreportid and secid and show summary.
	function changeReptype() {

		subreportid = $("#reporttype").find(':selected').val();

		secid = "1";

		showsummary();

	};

	/*to show details page - 3 parameters
		mode - valid values are : nextpage, prevpage, givenpage, firstpage
		num - page number to show to the user
		maxpage - maximum number of pages avaialble in the data
	 */
	function showdetails(mode, num, maxpage) {
		var filter = $("#filters").val();
		var n = parseInt(num);
		var max = parseInt(maxpage);
		if (filter != null) {
			var Callurl = /*[[@{'/Reports/'+${reportid}+'/Details'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
			//Callurl = Callurl+"&instancecode="+instancecode;
			Callurl = Callurl + "&filter=" + filter;
		} else {

			var filter = null;

			var Callurl = /*[[@{'/Reports/'+${reportid}+'/Details'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
			//	Callurl = Callurl+"&instancecode="+instancecode;
			Callurl = Callurl + "&filter=" + filter;
		}
		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		$.ajax({
			type : 'get',
			url : Callurl,
			success : function(data) {

				/*<![CDATA[*/

				$('.content').html(data);
				$("#detailsbtn").addClass("active");
				/*]]>*/

			}
		})
	}

	//to fetch summary from the database - called from the summary button
	function showsummary(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var Callurl = /*[[@{'/Reports/'+${reportid}+'/Summary'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
		Callurl = Callurl + "&subreportid=" + subreportid + "&secid=" + secid;
		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		$.ajax({
			type : 'get',
			url : Callurl,
			success : function(data) {

				/*<![CDATA[*/

				$('.content').html(data);
				$("#summarybtn").addClass("active");

				/*]]>*/
			}
		})
	}

	function sectionChange(a) {

		secid = a;

		showsummary();

	};

	function home() {
		location.href = "/BRBS/Dashboard";

	}
	/*]]>*/
</script>

<style>
.nav-buttons {
	float: right;
}

.reptitle {
	float: left;
}

.reptitle>p {
	margin-top: 0px;
}

.customcol {
	padding-left: 0px;
	padding-right: 0px;
	min-width: 1500px;
}

.btn-primary {
	background-color: #E77400;
	border-color: #0c0c0c;
}

.btn-primary:not(:disabled ):not(.disabled).active, .btn-primary:not(:disabled ):not(.disabled ):active, .show>.btn-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #cc000000;
	border-color: #161617;
}

.table .thead-light th {
	border-color: #b3b6b9;
}
.error {
	color: red;
	padding-left: 10px;
}

.first_left {
	position: absolute;
	*position: relative; /*ie7*/
	left: 0;
	width: 30px;
	margin-top: -2px;
}

.second_left {
	position: absolute;
	*position: relative; /*ie7*/
	left: 30px;
	width: 30px;
	margin-top: -2px;
}

.third_left {
	position: absolute;
	*position: relative; /*ie7*/
	left: 60px;
	width: 150px;
	margin-top: -2px;
}

.inner {
	overflow-x: scroll;
	overflow-y: visible;
	/* margin-left: 60px; */
}

.table-bordered thead td, .table-bordered thead th {
	border-bottom-width: 0px;
}

.table-bordered {
	border: 0px;
}

.addedit {
	color: #007bff;
}

.addedit:hover {
	color: #0056b3;
}
</style>
<script th:inline="javascript">
	/*<![CDATA[*/
	var currlist = /*[[${currlist}]]*/null;
	function editsum(a) {

		if (permission == 'W' && dtltype == 'report') {
			//Assign action url for the edit/add form
			var url = /*[[@{'/Reports/'+${reportid}+'/Changes/fim0800add'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency})}]]*/
			$("#dataedit").attr('action', url);
			//Reset form if any data present
			document.getElementById("dataedit").reset();

			/* //make readonly false to unique fields
			//Make readonly fields
			$("#cntprty_code").attr("readonly",false);
			$("#report_date").attr("readonly",false); */

			//Reset errors
			var validator = $("#dataedit").validate();
			validator.resetForm();

			$("#addedit").modal("toggle");

		}
	};

	function editsubmitform() {

		var reportdate = $("#report_date").val();
		//	alert(reportdate);

		if ($("#dataedit").valid()) {

			var url = "./T1Edit?";

			$("#dataedit").attr('action', url);

			var options = {
				success : showResponse
			// post-submit callback 
			};

			$("#dataedit").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;
		}
	};
	function verifyscreen(a) {

		if (permission == 'W' && dtltype == 'report') {
			//Assign action url for the edit/add form
			var url = /*[[@{'/Reports/'+${reportid}+'/Changes/fim0800add'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency})}]]*/
			$("#dataedit").attr('action', url);
			//Reset form if any data present
			document.getElementById("dataedit").reset();

			/* //make readonly false to unique fields
			//Make readonly fields
			$("#cntprty_code").attr("readonly",false);
			$("#report_date").attr("readonly",false); */

			//Reset errors
			var validator = $("#dataedit").validate();
			validator.resetForm();

			$("#verify").modal("toggle");

		}
	};
	function verifysubmitform(a) {

		if ($("#dataverify").valid()) {
			var entry = $("#ENTRY_USER").val();
			var modify = $("#MODIFY_USER").val();
			var verify = $("#VERIFY_USER").val();

			//var formmode = a.getAttribute("data-formmode");
			var url = "./T1Verify?";

			$("#dataverify").attr('action', url);

			var options = {
				success : showResponse
			// post-submit callback 
			};

			$("#dataverify").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;
		} else {
			$("#alertmsg").text("Same User Cannot Verify!");
			$('#alert').modal("toggle");

		}

	};
	function refreshPage() {
		window.location.reload();
	}

	function addRecord() {
		$("#edit").hide();
		if (permission == 'W') {
		//var url1 = /*[[@{'/customeradd/'+${reportid}+'/Details'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},dtltype=${dtltype})}]]*/
			//Callurl = Callurl+"&instancecode="+instancecode;
		document.getElementById("dataedit").reset();

		//make readonly false to unique fields
		//Make readonly fields
		$("#custid").attr("readonly", false);
		$("#custname").attr("readonly", false);
		$("#custtype").attr("readonly", false);
		$("#custrating").attr("readonly", false);
		$("#accnum").attr("readonly", false);
		$("#tratype").attr("readonly", false);
		$("#trasubtype").attr("readonly", false);
		$("#tradate").attr("readonly", false);
		$("#partialtraid").attr("readonly", false);
		$("#partialtratype").attr("readonly", false);
		$("#tracurr").attr("readonly", false);
		$("#traamount").attr("readonly", false);
		$("#tracat").attr("readonly", false);
	

		$("#addedit").modal("toggle");

	}
};

function editRecord(a) {
	$("#add").hide();
	if (permission == 'W') {
		
		var url2 ="./customeredit?";
		$("#dataedit").attr('action',url2);
		//Assign selected values to the model box fields
		$("#custid").val(a.getAttribute("data-custid"));
		$("#custname").val(a.getAttribute("data-custname"));
		$("#custtype").val(a.getAttribute("data-custtype"));
		$("#custrating").val(a.getAttribute("data-custrating"));
		$("#accnum").val(a.getAttribute("data-accnum"));
		$("#accname").val(a.getAttribute("data-accname"));
		$("#tratype").val(a.getAttribute("data-tratype"));
		$("#trasubtype").val(a.getAttribute("data-trasubtype"));
		$("#tradate").val(a.getAttribute("data-tradate"));
		$("#traid").val(a.getAttribute("data-traid"));
		$("#partialtraid").val(a.getAttribute("data-partialtraid"));
		$("#partialtratype").val(a.getAttribute("data-partialtratype"));
		$("#tracurr").val(a.getAttribute("data-tracurr"));
		$("#traamount").val(a.getAttribute("data-traamount"));
		$("#tracat").val(a.getAttribute("data-tracat"));
		$("#addedit").modal("toggle");

		//Make readonly fields
		$("#tradate").attr("readonly", true);

	}

};

function deleteRecord(a) {
	$("#add").hide();
	$("#edit").hide();
	
	alert(a.getAttribute("data-custid"));
	if (permission == 'W') {
		var url3 ="/customerdelete?";
		$("#dataedit").attr('action',url3);


		//Assign selected values to the model box fields
		$("#custid").val(a.getAttribute("data-custid"));
		$("#custname").val(a.getAttribute("data-custname"));
		$("#custtype").val(a.getAttribute("data-custtype"));
		$("#custrating").val(a.getAttribute("data-custrating"));
		$("#accnum").val(a.getAttribute("data-accnum"));
		$("#accname").val(a.getAttribute("data-accname"));
		$("#tratype").val(a.getAttribute("data-tratype"));
		$("#trasubtype").val(a.getAttribute("data-trasubtype"));
		$("#tradate").val(a.getAttribute("data-tradate"));
		$("#traid").val(a.getAttribute("data-traid"));
		$("#partialtraid").val(a.getAttribute("data-partialtraid"));
		$("#partialtratype").val(a.getAttribute("data-partialtratype"));
		$("#tracurr").val(a.getAttribute("data-tracurr"));
		$("#traamount").val(a.getAttribute("data-traamount"));
		$("#tracat").val(a.getAttribute("data-tracat"));

		$("#datadelete").modal("toggle");

	}

};

function submitdataform(a) {
		$("#edit").hide();
		
		var url4 ="./customeradd?";
		
		$("#dataedit").attr('action',url4);
		var options = {
		success : showResponse
	// post-submit callback 
	};
    

	$('#dataedit').ajaxSubmit(options);

	function showResponse(responseText, statusText, xhr, $form) {

		$("#alertmsg").text(responseText);

		if ($('#addedit').is(':visible')) {
			$('#addedit').modal("hide");

		}
		;
		if ($('#datadelete').is(':visible')) {
			$('#datadelete').modal("hide");

		}
		;
		$('#alert').modal("toggle");

	}

}


function submitdataformedit(a) {
	//$("#add").hide();
	var url ="./customeredit?";
	
	$("#dataedit").attr('action',url);
	var options = {
	success : showResponse
// post-submit callback 
};


$('#dataedit').ajaxSubmit(options);

function showResponse(responseText, statusText, xhr, $form) {

	$("#alertmsg").text(responseText);

	if ($('#addedit').is(':visible')) {
		$('#addedit').modal("hide");

	}
	;
	if ($('#datadelete').is(':visible')) {
		$('#datadelete').modal("hide");

	}
	;
	$('#alert').modal("toggle");

}

}
function submitdataformdelete(a) {

	var url4 ="./customerdelete?";
	$("#dataedit").attr('action',url4);
	var options = {
	success : showResponse
// post-submit callback 
};


$('#dataedit').ajaxSubmit(options);

function showResponse(responseText, statusText, xhr, $form) {

	$("#alertmsg").text(responseText);

	if ($('#addedit').is(':visible')) {
		$('#addedit').modal("hide");

	}
	;
	if ($('#datadelete').is(':visible')) {
		$('#datadelete').modal("hide");

	}
	;
	$('#alert').modal("toggle");

}

}


</script>

<title>XBRL</title>
</head>
<body>
	<!----------------------------------------------------- Header Section starts ----------------------------------------------------->
	<div th:insert="XBRLHeaderMenu :: header"></div>
	<i class="fa fa-question-circle" aria-hidden="true"
		onclick="docEmb('Report')" id="ques"></i>
	<!----------------------------------------------------- Header Section Ends ------------------------------------------------------->
	<div class="container content" th:fragment="reportcontent">
		<!--------------------------------------------------------------- Report title starts -------------------------------------------->
		<div class="row">
			<div class="col-sm-12 customcol"
				style="background-color: #4d8cb9; padding-top: 10px; padding-bottom: 10px; padding-left: 5px;">

				<b style="color: white;">    BANKING AND MONETARY STATISTICS-LE STAND ALONE GREs - BRF 80  (AED 000)</b>
				<div class="btn-group nav-buttons">
					<button type="button" class="btn btn-primary"
						onclick="showdetails('firstpage','1','0');" id="detailsbtn">Details</button>
					<button type="button" class="btn btn-primary"
						onclick="showsummary();" id="summarybtn">Summary</button>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown">
							Download <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li th:if="${displaymode}=='summary' or ${displaymode}==null"><a
								th:href="|@{'/Reports/'+${reportid}+'/Download'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},subreportid=${subreportid},secid=${secid},dtltype=${dtltype})}&filetype=pdf|">Pdf</a></li>
							<li th:if="${displaymode}=='summary' or ${displaymode}==null"><a
								th:href="|@{'/Reports/'+${reportid}+'/Download'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},subreportid=${subreportid},secid=${secid},dtltype=${dtltype})}&filetype=excel|">Excel</a></li>

							<li th:if="${displaymode}=='detail'"><a
								th:href="|@{'/Reports/'+${reportid}+'/Download'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency},subreportid=${subreportid},secid=${secid},dtltype=${dtltype})}&filetype=detailexcel|">Excel</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 customcol"
				style="background-color: #dadddf; padding-top: 10px; padding-bottom: 10px; padding-left: 5px;">


				<div class="btn-group nav-buttons" th:if="${type} =='RBS'">
					<button type="button" class="btn btn-primary"
						onclick="editsum(this);" style="margin-top: -10px; padding: 3px;"
						title="Click to EDIT Records"
						th:classappend="${session.PERMISSIONS == 'W'} AND ${dtltype == 'report'} ? addedit "
						id="addRecord">Modify</button>
					<button type="button" class="btn btn-primary"
						style="margin-right: 0px; margin-top: -10px; padding: 3px; background-color: #4d8cb9;"
						title="view the records" id="addRecord">Inquiry</button>
					<button type="button" class="btn btn-primary"
						th:if="${report?.entity_flg}=='N' AND  ${type} !='ARCHIVAL'"
						onclick="verifyscreen(this);"
						style="margin-top: -10px; padding: 3px;"
						title="Click to EDIT Records"
						th:classappend="${session.PERMISSIONS == 'W'} AND ${dtltype == 'report'} ? addedit "
						id="addRecord">Verify</button>
				</div>
			</div>
		</div>
		<!--------------------------------------------------------------- Report title ends ------------------------------------------------->

		<!------------------------------ Report summary section starts it will shown only if summary button clicked------------------------->
		<div class="row">
			<div class="col-sm-12 customcol"
				th:if="${displaymode}=='summary' or ${displaymode}==null">
				<div class="row">

					<div class="col-sm-12">

						<div class="table-responsive"
							style="border-right: 1px solid #dee2e6">
							<div style="margin: 0 auto; width: 656px;text-align:center;">
								<button type="button" class="btn btn-xs btn-primary" id="btnInsert"
									onclick="insert();">Insert</button>
								<button type="button" class="btn btn-xs btn-primary" id="btnDelete"
									onclick="delete();">Delete</button>
							</div>
							<table style="width: 2000px;"
								class="table  table-bordered table-hover table-sm table-condensed">
								<thead th:each="report: ${reportsummary}">
									<tr>
										<th style="background-color:#b3b6b9"></th>
										<th width="700" style="background-color:#b3b6b9">Capital Base (as per CAR return):  </th>
										<th style="color:red;text-align:right" th:text="${#numbers.formatDecimal(report.capital_case,0,'COMMA',0,'POINT')}"></th>
										<th colspan="7" style="background-color:#b3b6b9"></th>
									</tr>
									<tr style="background-color:#b3b6b9">
										<th>SN</th>
										<th>NAME OF STAND ALONE GRE (ENTITY or GROUP)</th>
										<th>Funded O/S (Excl. Debt Securities)</th>
										<th>Debt securities</th>
										<th>Unfunded O/S</th> 
										<th>CCF equivalent of unfunded O/S</th>
										<th>CCF equivalent of committed unused funded & unfunded limits</th>
										<th>Total exposures (CCF basis)</th>
										<th>As % of capital base (25% limit)</th>
										<th>Total exempted exposures under Para 2.11 of Guide to Large Exposure Circular</th>
									</tr>							
																							
								</thead>
								<tbody th:each="report: ${reportsummary}">
									<tr>
										<td width="150" style="text-align:right">1</td>
										<td style="text-align:left" th:text="${report.r1_product}"></td>
										<td width="200" style="text-align:right" th:text="${#numbers.formatDecimal(report.r1_fund_os,0,'COMMA',0,'POINT')}"></td>
										<td width="150" style="text-align:right" th:text="${#numbers.formatDecimal(report.r1_debt_security ,0,'COMMA',0,'POINT')}"></td>
										<td width="150" style="text-align:right" th:text="${#numbers.formatDecimal(report.r1_unfunded_os,0,'COMMA',0,'POINT')}"></td>
										<td width="150" style="text-align:right" th:text="${#numbers.formatDecimal(report.r1_unfunded_ccf,0,'COMMA',0,'POINT') }"></td>
										<td width="150" style="text-align:right" th:text="${#numbers.formatDecimal(report.r1_unused_unfunded_ccf,0,'COMMA',0,'POINT')}"></td>
										<td width="150" style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatDecimal(report.r1_total_exposure_ccf ,0,'COMMA',0,'POINT')}"></td>
										<td width="150" style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatPercent(report.r1_per_capital_base,1,4) }"></td>
										<td width="150">NA</td>
									</tr>
									<tr>
										<td  style="text-align:right">2</td>
										<td style="text-align:left" th:text="${report.r2_product}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r2_fund_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r2_debt_security,0,'COMMA',0,'POINT') }"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r2_unfunded_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r2_unfunded_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r2_unused_unfunded_ccf,0,'COMMA',0,'POINT')}"></td>
										<td style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatDecimal(report.r2_total_exposure_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatPercent(report.r2_per_capital_base,1,4) }"></td>
										<td>NA</td>
										
									</tr>
									<tr>
										<td  style="text-align:right">3</td>
										<td style="text-align:left" th:text="${report.r3_product}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r3_fund_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r3_debt_security ,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r3_unfunded_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r3_unfunded_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r3_unused_unfunded_ccf,0,'COMMA',0,'POINT')}"></td>
										<td style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatDecimal(report.r3_total_exposure_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatPercent(report.r3_per_capital_base ,1,4)}"></td>
										<td>NA</td>
										
									</tr>
									<tr>
										<td  style="text-align:right">4</td>
										<td style="text-align:left" th:text="${report.r4_product}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r4_fund_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r4_debt_security,0,'COMMA',0,'POINT') }"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r4_unfunded_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r4_unfunded_ccf ,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r4_unused_unfunded_ccf,0,'COMMA',0,'POINT')}"></td>
										<td style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatDecimal(report.r4_total_exposure_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="background-color:#b3b6b9;text-align:right" th:text="${#numbers.formatPercent(report.r4_per_capital_base,1,4) }"></td>
										<td>NA</td>
									</tr>
									<tr style="background-color:#b3b6b9">
										<td  style="text-align:left"></td>
										<td style="text-align:left" th:text="${report.r5_product}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r5_fund_os,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r5_debt_security,0,'COMMA',0,'POINT') }"></td>
										<td></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r5_unfunded_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r5_unused_unfunded_ccf,0,'COMMA',0,'POINT')}"></td>
										<td style="text-align:right" th:text="${#numbers.formatDecimal(report.r5_total_exposure_ccf,0,'COMMA',0,'POINT') }"></td>
										<td style="text-align:right" th:text="${#numbers.formatPercent(report.r5_per_capital_base,1,4) }"></td>
										<td>NA</td>
									</tr>
									<tr >
										<td style="background-color:#b3b6b9"></td>
										<td colspan="7">1. Exposures must include bonds and sukuks unless they meet the criteria for exclusion.	</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td colspan="7">2. For those GREs consisting of more than one borrowing entity, only group totals should be reported with "G" added alongwith the name.  Details of each entity should however be maintained for review by Central Bank Examiners.</td>
										<td colspan="2"></td>
									</tr>
									<tr>
										<td></td>
										<td colspan="9">3. Funded e<span style="color:red">xposures should be reported net of exempted exposures.</span></td>
									</tr>	
									<tr>
										<td></td>
										<td colspan="3">FORM NO: BSD/BRF 80- LE  STAND ALONE GREs/DEC14</td>
										<td colspan="6"></td>
									</tr>							
																
							</tbody>
								
							</table>
						</div>
						<div class="card-footer text-center"
							th:if="${displaymode}=='summary' or ${displaymode}==null"
							style="background-color: #386276";>
							<button type="button" class="btn btn-xs btn-primary" id="btnHome"
								onclick="home();">Home</button>
							<!-- <button type="button" class="btn btn-xs btn-primary"
									id="btnBack" onclick="back();">Back</button> -->
						</div>
					</div>
				</div>

			</div>
			<!------------------------------ Report summary section ends it will shown only if summary button clicked------------------------->
			<!------------------------------ Report Details section starts it will shown only if Details button clicked------------------------->
			<div class="col-sm-12 customcol" th:if="${displaymode}=='detail'"
				th:fragment="detail">
				<div style="overflow-x: auto; border-right: 1px solid #dee2e6"
					th:class="${searchmsg == null}?'inner'">
					<table th:if="${searchmsg} == null"
						class="table table-bordered table-sm" style="width: 1500px"
						id="detailtb">
						<thead class="thead-light">
							<tr style="text-align:center">
							<th><a data-toggle="tooltip" class="editrec"
									title="Click to add new Records"><i
										th:classappend="${session.PERMISSIONS == 'W'}  ? addedit "
										class="fa fa-plus-circle" onclick="addRecord();"
										aria-hidden="true"></i></a></th>
								<th></th>
								<th>Cust ID</th>
								<th>Cust Name</th>
								<th>Cust Typ</th>
								<th>Cust Rat</th>
								<th>Acc No</th>
								<th>Acc Name</th>
								<th>Trn Typ</th>
								<th>Trn Sub Typ</th>
								<th>Trn Dt</th>
								<th>Trn ID</th>
								<th>Prt Trn ID</th>
								<th>Prt Trn Typ</th>
								<th>Trn Cur</th>
								<th>Trn Amt</th>
								<th>Trn Cat</th>

							</tr>

						</thead>
						<tbody>
							<tr th:each="repdetail : ${reportdetails.content}">
							<tr th:if="${reportdetails}!=null" th:each="repdetail : ${reportdetails}"> 

								<td><a data-toggle="tooltip" class="editrec"
									title="Click to Edit this Record"><i
										th:classappend="${session.PERMISSIONS == 'W'}  ? addedit "
										class="fas fa-edit"
										
										th:attr="data-custid=${repdetail.cust_id},
										data-custname=${repdetail.cust_name},
								        data-custtype=${repdetail.cust_type},
										data-custrating=${repdetail.cust_rating},
										data-accnum=${repdetail.acct_no},
										data-accname=${repdetail.acct_name},
										data-tratype=${repdetail.tran_type},
										data-trasubtype=${repdetail.tran_sub_type},
										data-tradate=${#dates.format(repdetail.tran_date, 'dd-MM-yyyy')},
										data-traid=${repdetail.tran_id},
										data-partialtraid=${repdetail.part_tran_id},
										data-partialtratype=${repdetail.part_tran_type},
										data-tracurr=${repdetail.tran_crncy},
										data-traamount=${repdetail.tran_amt},
										data-tracat=${repdetail.tran_category}"
										onclick="editRecord(this)"></i></a></td>

								<td><a data-toggle="tooltip" class="editrec"
									title="Click to delete this Record"><i
										th:classappend="${session.PERMISSIONS == 'W'}  ? addedit "
										class="fas fa-minus-circle"
										th:attr="data-custid=${repdetail.cust_id},
										data-custname=${repdetail.cust_name},
								        data-custtype=${repdetail.cust_type},
										data-custrating=${repdetail.cust_rating},
										data-accnum=${repdetail.acct_no},
										data-accname=${repdetail.acct_name},
										data-tratype=${repdetail.tran_type},
										data-trasubtype=${repdetail.tran_sub_type},
										data-tradate=${#dates.format(repdetail.tran_date, 'dd-MM-yyyy')},
										data-traid=${repdetail.tran_id},
										data-partialtraid=${repdetail.part_tran_id},
										data-partialtratype=${repdetail.part_tran_type},
										data-tracurr=${repdetail.tran_crncy},
										data-traamount=${repdetail.tran_amt},
										data-tracat=${repdetail.tran_category}"
										onclick="deleteRecord(this)"></i></a></td>
							

								<td th:text="${repdetail.cust_id	}">CHENNAI</td>
								<td th:text="${repdetail.cust_name	}">CHENNAI</td>
								<th:block th:switch="${repdetail.cust_type}">
									<td th:case="'C'">Customer</td>
									<td th:case="'E'">Employee</td>
									<td th:case="'O'">Office</td>
								</th:block>
								<td th:text="${repdetail.cust_rating	}">CHENNAI</td>
								<td th:text="${repdetail.acct_no	}">CHENNAI</td>
								<td th:text="${repdetail.acct_name	}">CHENNAI</td>
								<th:block th:switch="${repdetail.tran_type}">
									<td th:case="'T'">XFER</td>
									<td th:case="'L'">Clearing</td>
									<td th:case="'C'">Cash</td>
									<td th:case="''">XFER</td>
								</th:block>
								<td th:text="${repdetail.tran_sub_type	}">CHENNAI</td>
								<td
									th:text="${#dates.format(repdetail.tran_date, 'dd/MM/yyyy')}"></td>

								<td th:text="${repdetail.tran_id	}">CHENNAI</td>
								<td th:text="${repdetail.part_tran_id	}">CHENNAI</td>
								<th:block th:switch="${repdetail.part_tran_type}">
									<td th:case="'D'">Dr</td>
									<td th:case="'C'">Cr</td>
								</th:block>
								<td th:text="${repdetail.tran_crncy	}">CHENNAI</td>
								<td
									th:text="${#numbers.formatDecimal(repdetail.tran_amt	,1,'COMMA',2,'POINT')}"
									align="right">CHENNAI</td>
								<td th:text="${repdetail.tran_category	}">CHENNAI</td>


							</tr>
						</tbody>
					</table>


				</div>
				<!-- -----------------------------------Details edit modal form----------------------------------------------------->

				<div class="modal fade" id="addedit" th:fragment="dataedit">
					<div
						class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Add/Edit Records</h4>
								<button type="button" class="close" data-dismiss="modal">×</button>
							</div>
							<div class="modal-body" style="text-align: center">
								<form th:object=${singledetail} id="dataedit" method="post">
									<div class="form-group">
										<div class="row">
											<label class="col-sm-5">Customer Id</label> <input
												class="form-control col-sm-5" type="number"
												th:field="*{cust_id}" th:value="${cust_id}" id="custid"
												readonly />
										</div>
										<div class="row">
											<label class="col-sm-5">Customer Name</label> <input
												class="form-control col-sm-5" type="text"
												th:field="*{cust_name}" th:value="${cust_name}"
												id="custname" />
										</div>
										<div class="row">
											<label class="col-sm-5">Customer Type</label>
												
												<select class="form-control col-sm-5" 
												th:field="*{cust_type}" th:value="${cust_type}"
												id="custtype">
												<option value="C">Customer</option>
												<option value="E">Employee</option>
												<option value="O">Office</option>
												</select>
										</div>
										<div class="row">
											<label class="col-sm-5">Customer Rating</label> <input
												class="form-control col-sm-5" type="text"
												th:field="*{cust_rating}" th:value="${cust_rating}"
												id="custrating">
										</div>

										<div class="row">
											<label class="col-sm-5">Account Number</label> <input
												class="form-control col-sm-5" type="number"
												th:field="*{acct_no}" th:value="${acct_no}" id="accnum">
										</div>
										<div class="row">
											<label class="col-sm-5">Account Name</label> <input
												class="form-control col-sm-5" type="text"
												th:field="*{acct_name}" th:value="${acct_name}" id="accname">
										</div>
										<div class="row">
											<label class="col-sm-5">Transaction Type</label> 
												<select class="form-control col-sm-5" type="text"
												th:field="*{tran_type}" th:value="${tran_type}" id="tratype">
												<option value="T">Transfer</option>
												<option value="C">Clearing</option>
												<option value="C">Cash</option>
												
												</select>
												
										</div>


										<div class="row">
											<label class="col-sm-5">Transaction Sub Type</label> <input
												class="form-control col-sm-5" type="text"
												th:field="*{tran_sub_type}" th:value="${tran_sub_type}"
												id="trasubtype">
										</div>

										<div class="row">
											<label class="col-sm-5">Transaction Date</label> <input
												class="form-control col-sm-5 hasDatepicker"
												th:field="*{tran_date}" th:value="${tran_date}"  type="Date" 
												id="tradate">
										</div>

										<div class="row">
											<label class="col-sm-5">Transaction Id</label> <input
												class="form-control col-sm-5" type="text"
												th:field="*{tran_id}" th:value="${tran_id}" id="traid">
										</div>
										<div class="row">
											<label class="col-sm-5">Partial Transaction Id</label> 
											<input
												class="form-control col-sm-5" type="number"
												th:field="*{part_tran_id}" th:value="${part_tran_id}"
												id="partialtraid">
										</div>

										<div class="row">
											<label class="col-sm-5">Partial Transaction Type</label> 
											<select
												class="form-control col-sm-5" type="text"
												th:field="*{part_tran_type}" th:value="${part_tran_type}"
												id="partialtratype">
												<option value="C">Credit</option>
												<option value="D">Debit</option>
											</select>

										</div>
										<div class="row">
											<label class="col-sm-5">Transaction Currency</label> <input
												class="form-control col-sm-5" type="text"
												th:field="*{tran_crncy}" th:value="${tran_crncy}"
												id="tracurr">

										</div>
									</div>
									<div class="row">
										<label class="col-sm-5">Transaction Amount</label> <input
											class="form-control col-sm-5" type="number"
											th:field="*{tran_amt}" th:value="${tran_amt}" id="traamount">

									</div>
									<div class="row">
										<label class="col-sm-5">Transaction Category</label> <input
											class="form-control col-sm-5" type="number"
											th:field="*{tran_category}" th:value="${tran_category}"
											id="tracat">

									</div>
								</form>
							</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											onclick="submitdataform(this);" id="add">Add</button>
										 <button type="button" class="btn btn-primary"
											onclick="submitdataformedit(this);" id="edit" >Edit</button> 

									</div>
								</div>
							</div>
						</div>



				<!-------------------------------------Details edit modal form----------------------------------------------------->
				<div class="modal fade" id="datadelete">
							<div
								class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-body" style="text-align: center">
										<button type="button" class="close" data-dismiss="modal">×</button>
										Are you Sure want to delete?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											onclick="submitdataformdelete(this);" >Submit</button>
										<button type="button" class="btn btn-primary"
											data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					

				<!-- -----------------------------------Search modal form----------------------------------------------------->
				<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
				<!-- <div class="float-right" th:if="${reportdetails.totalPages} gt 1">
					<a href="#"><i class="fas fa-caret-left fa-2x"
						th:onclick="|showdetails('prevpage',${reportdetails.number},${reportdetails.totalPages});|"></i></a>
					<input type="text" id="pageno" style="width: 30px"
						th:value="${reportdetails.number+1}"
						th:onchange="|showdetails('givenpage',${reportdetails.number},${reportdetails.totalPages});|"></input>
					of <font th:text="${reportdetails.totalPages}"></font> <a href="#"><i
						class="fas fa-caret-right fa-2x"
						th:onclick="|showdetails('nextpage',${reportdetails.number},${reportdetails.totalPages});|"></i></a>
				</div> -->
				<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
			</div>
			<!------------------------------ Report Details section ends it will shown only if Details button clicked------------------------->
		</div>
	</div>

	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
	<div class="modal fade" id="alert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<p id="alertmsg"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="refreshPage()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->



</body>
<script>
$(function() {

	$("#tradate").datepicker({
		changeMonth : true,
		changeYear : true,
		maxDate : new Date(),
		dateFormat : "dd-mm-yyyy"
	});

}); 

</script>

</html>