<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

<style>


.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 15px;
}

.btn-primary {
	background-color: #d77410b8;
	border-color: #0c0c0c;
}

.btn-primary:not (:disabled ):not (.disabled ).active, .btn-primary:not
	 (:disabled ):not (.disabled ):active, .show>.btn-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #cc000000;
	border-color: #161617;
}

#finusertb {
	width: 460px;
}

.container {
    max-width: 1400px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}
</style>
<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		var finusers = /*[[${FinUserProfiles}]]*/null;

		console.log(finusers);

		$("#usertable,#finusertb").DataTable({
			"info" : false,
			"lengthChange" : false

		});

		$("#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
				.datepicker({
					minDate: new Date(),
					changeMonth : true,
					changeYear : true,
					dateFormat : "dd-mm-yy"
				});

	});

	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var Callurl = 'UserProfile?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}

	function finuser(a) {

		$
				.ajax({
					type : 'get',
					url : '/XBRL/Finuserdata?userid=' + a.id,

					success : function(data) {

						/*<![CDATA[*/

						$('.finuserapply').html(data);

						$(
								"#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
								.datepicker({
									changeMonth : true,
									changeYear : true,
									dateFormat : "dd-mm-yy"
								});

						/*]]>*/

						$("#finusers").modal("hide");
					}

				})

	}

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}

	function fnClick(a) {
		var userid = a.getAttribute("data-userid")
		location.href = 'UserProfile?formmode=edit&userid=' + userid
	}

	function adduser(a) {
		location.href = 'UserProfile?formmode=add';
	}

	function list() {
		location.href = 'UserProfile?formmode=list';
	}

	function verify(a) {

		var entryuser = a.getAttribute("data-entry_user");
		var modifyuser = a.getAttribute("data-modify_user");

		var loginuser = /*[[${session.USERID}]]*/null;

		if ((modifyuser != null && modifyuser == loginuser)
				|| (modifyuser == null && entryuser == loginuser)) {

			$("#alertmsg").text("Same user cannot verify");

			$('#alert').modal("toggle");

		} else {

			if ($("#userProfile").valid()) {

				var userid = a.getAttribute("data-userid");
				var url = './verifyUser';
				$("#userProfile").attr('action', url);

				var options = {
					success : showResponse
				// post-submit callback 
				};

				$('#userProfile').ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {

					$("#alertmsg").text(responseText);

					$('#alert').modal("toggle");

				}
				;

			}

		}

	};

	function passwordReset() {

		var url = './passwordReset';
		$("#userProfile").attr('action', url);

		var options = {
			success : showResponse
		// post-submit callback 
		};

		$('#userProfile').ajaxSubmit(options);

		function showResponse(responseText, statusText, xhr, $form) {

			$("#alertmsg").text(responseText);

			$('#alert').modal("toggle");

		}
		;
	};

	function roledesc() {

		var roleid = $("#roleId").find(':selected').val();

		if (roleid == 'ADM') {
			$("#roleDesc").val("Admin");
		} else if (roleid == 'ADT') {
			$("#roleDesc").val("Audit");
		} else if (roleid == 'GEN') {
			$("#roleDesc").val("General User");
		}
		$(this).find(':selected').text();

	}

	function submitform() {

		//Creating Validating Rules
		$('#userProfile').validate({
			messages : {
				userid : "Please Provide User Id"
			}
		});

		if ($("#userProfile").valid()) {

			var formmode = /*[[${formmode}]]*/null;

			var url = "./createUser?formmode=" + formmode;

			$("#userProfile").attr('action', url);

			var options = {
				success : showResponse
			// post-submit callback 
			};

			$("#userProfile").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;

		}

	};

	/*]]>*/
</script>

<script th:inline="javascript">
	$(function() {


	});

	function getUserlist(mode, num, maxpage) {
		$("#loadermodal").modal("toggle");
		var n = parseInt(num);
		var max = parseInt(maxpage);

		/* 		alert(n+"  "+max);
		 */var Callurl = 'CustomerList?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		/* 		alert(Callurl);
		 */location.href = Callurl;
	}

	function home() {
		$("#loadermodal").modal("toggle");
		location.href = 'Dashboard'
	}

	function back() {
		$("#loadermodal").modal("toggle");
		var Callurl = 'CustomerInquiry?formmode=list';
		location.href = Callurl;
		//window.history.back();
	}
	function convertDate(dateString) {
		var p = dateString.split(/\D/g)
		return [ p[2], p[1], p[0] ].join("-")
	}

	function searchcustDOB() {
		$("#CustDOBSearch").modal('hide');

		var custName2 = $("#custDOB").val();
		if (custName2 != '') {
			$("#loadermodal").modal("toggle");
			location.href = 'getcustomerRESIDINGCOUNTRY?custName2=' + custName2;
			$('#CustomerInq').empty();
		}
	}
	function searchcustNUMBER() {
		$("#CustNUMBERSearch").modal('hide');
		var custName2 = $("#custNumber").val();
		if (custName2 != '') {
			$("#loadermodal").modal("toggle");
			location.href = 'getcustomerNUMBER?custName2=' + custName2;
			$('#CustomerInq').empty();
		}

	}
	
	function fnClick(a) {
		$("#loadermodal").modal("toggle");
		var custId = a.getAttribute("data-custId")
		location.href = 'CustomerProfile?custId=' + custId;
	}
	
	
	
	function DeleteonDownload(a) {
		
		$("#loadermodal").modal("toggle");
		var ref_id= a.getAttribute("data-ref_id");
		var userid =a.getAttribute("data-userid");
		var username =a.getAttribute("data-username");
		var filepath =a.getAttribute("data-filepath");
		var downloadondelete ="Y";
	
	//	location.href = 'Reports/ReportDownloadByData?ref_id='+ref_id+'&userid=' + userid+ '&username=' + username + '&downloadondelete=' + downloadondelete;
		

	}
	function Download(a) {

		var	checkBoxAdminValue = document.querySelector("#Admin:checked");
		var adminValue = (checkBoxAdminValue) ? 'Y' : 'N';
		$("#loadermodal").modal("toggle");
		var ref_id= a.getAttribute("data-ref_id");
		var userid =a.getAttribute("data-userid");
		var username =a.getAttribute("data-username");
		//var filepath =a.getAttribute("data-filepath");
		var downloadondelete ="N";
	
		location.href = 'Reports/ReportDownloadByData?ref_id='+ref_id+'&userid=' + userid+ '&username=' + username + '&downloadondelete=' + adminValue;
		

	}
	
	function editRecord(a){

		
		//var url = /*[[@{'/Reports/'+${reportid}+'/Changes/bls0100edit'(asondate=${asondate},fromdate=${fromdate},todate=${todate},currency=${currency})}]]*/
	//	$("#dataedit").attr('action', url); 
		
		//Assign selected values to the model box fields
		$("#rpt_code_id").val(a.getAttribute("data-ref_id_1"));
		$("#rpt_name_id").val(a.getAttribute("data-rpt_name"));
		$("#scr_name_id").val(a.getAttribute("data-scr_name"));
		$("#filename_id").val(a.getAttribute("data-filename"));
		$("#value_1_id").val(a.getAttribute("data-value1"));
		$("#value_2_id").val(a.getAttribute("data-value2"));
		$("#value_3_id").val(a.getAttribute("data-value3"));
		$("#value_4_id").val(a.getAttribute("data-value4"));
		$("#value_5_id").val(a.getAttribute("data-value5"));



		$("#input_1_id").text(a.getAttribute("data-input1"));
		$("#input_2_id").text(a.getAttribute("data-input2"));
		$("#input_3_id").text(a.getAttribute("data-input3"));
		$("#input_4_id").text(a.getAttribute("data-input4"));
		$("#input_5_id").text(a.getAttribute("data-input5"));
		
		var div1 = a.getAttribute("data-input1");
		var div2 = a.getAttribute("data-input2");
		var div3 = a.getAttribute("data-input3");
		var div4 = a.getAttribute("data-input4");
		var div5 = a.getAttribute("data-input5");
		if(div1 == null){
			
			$("#div_1_id").css("display", "none");
		}
		if(div2 == null){
			$("#div_2_id").css("display", "none");
		
		}
		if(div3 == null){
			$("#div_3_id").css("display", "none");
			
		}
		if(div4 == null){
			$("#div_4_id").css("display", "none");
			
		}
		if(div5 == null){
			$("#div_5_id").css("display", "none");
			
		}
		
		
		
		$("#addedit").modal("toggle");
		
		//Make readonly fields
		$("#rpt_code_id").attr("readonly",true);
		$("#rpt_name_id").attr("readonly",true);
		$("#scr_name_id").attr("readonly",true);
		
	
	};
	/*]]>*/
</script>

<script>
	function submitdata() {
		var domainids = [];
		$.each($("input[name='dom']:checked"), function() {
			domainids.push($(this).val());
		});
		$("#getDomain").modal('hide');
		$("#domainId").val(domainids.join(","));
	}
</script>

</head>
<title>XBRL</title>
<body>
	<div th:insert="XBRLHeaderMenu :: header"></div>
	<i class="fa fa-question-circle" aria-hidden="true"
		onclick="docEmb('UserProfile')" id="ques"></i>
	<!---------------------User List Starts------------------------------------------------------->
	<div th:if="${formmode}=='list'" class="container content">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<div class="float-left">
							<h4>Report Generation Download</h4>
						</div>
						
					</div>
					<div class="card-body">
						<table class="table  table-bordered  table-hover table-sm"
							style="margin-bottom: 0px" id="usertable">
							<thead class="thead-light">
								<tr>
									<!-- <th></th> -->
										<th>User Id </th>
										<th>Report Id</th>
										<th>Report Name</th>
										<th>Path</th>
										<th>Delete On Download</th>
										<th>Download</th>
										
								</tr>
							</thead>
							<tbody id="CustomerInq">
									<tr th:if="${COUNT} == '0'">
										<td colspan="9" style="text-align: center; color: red">No
											Data Found</td>
									</tr>
									<tr th:if="${COUNT} != '0'" th:each="custInq : ${repParameter}"
										th:attr="data-ref_id=${custInq.rpt_srl_no}"
										th:id="${custInq.rpt_srl_no}" class="userlist">

										<td th:text="${custInq.user_id}"></td>

										<td th:text="${custInq.rpt_id}"></td>
										<td th:text="${custInq.rpt_name}"></td>


										<td th:text="${custInq.file_location}"></td>
										<td > <input type="checkbox" id="Admin" value="Y" checked/></td>
										<td><button class="btn btn-xs btn-primary"
												style="width: 70px; padding: 0px; font-size: 9px; height: 19px;"  onclick="Download(this)"
												th:attr="data-ref_id=${custInq.rpt_srl_no},data-filepath = ${custInq.file_location},data-userid = ${userProfile.userid},data-username = ${userProfile.username}">Download</button></td>
										<!-- <td></td> -->
										<!-- <td></td> -->

									</tr>
								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---------------------User List Ends--------------------------------------------------------->
	<div class="modal fade" id="addedit" th:fragment="dataedit">
					<div
						class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">

							<form th:object=${singledetail} id="dataedit" method="post">
								<div class="modal-header">
									<h4 class="modal-title">Edit Records</h4>
									<button type="reset" class="close" data-dismiss="modal">×</button>
								</div>
								<div class="modal-body" style="text-align: center">

									<div class="form-group">
										<div class="row">
											<label class="col-sm-4">Report Code</label> <input
												class="form-control col-sm-5" type="text"
												 id="rpt_code_id" required />
										</div>
										<div class="row">
											<label class="col-sm-4">Report Name</label> <input
												class="form-control col-sm-5" type="text"
												 id="rpt_name_id" required />
										</div>
										<div class="row">
											<label class="col-sm-4">Script Name</label> <input
												class="form-control col-sm-5" type="text"
												id="scr_name_id" />
										</div>
										
										<div class="row">
											<label class="col-sm-4">File Name</label> <input
												class="form-control col-sm-5" type="text"
												id="filename_id" />
										</div>
										
										<div class="row" id="div_1_id">
											<label class="col-sm-4" id="input_1_id"></label> <input
												class="form-control col-sm-5" type="text"
												 id="value_1_id"  >
										</div>
										<div class="row" id="div_2_id">
											<label class="col-sm-4" id="input_2_id">Scheme Type</label> <input
												class="form-control col-sm-5" type="text"
												 id="value_2_id" >
										</div>
										<div class="row" id="div_3_id">
											<label class="col-sm-4" for="modes" id="input_3_id">Scheme Code</label> <input
												class="form-control col-sm-5" type="text"
												 id="value_3_id" >
										</div>
										<div class="row" id="div_4_id">
											<label class="col-sm-4" id="input_4_id">EAB Date</label> <input
												class="form-control col-sm-5" type="text"
												 id="value_4_id"  >
										</div>
										<div class="row" id="div_5_id">
											<label class="col-sm-4" id="input_5_id">Currency</label> <input
												class="form-control col-sm-5" type="text"
												 id="value_5_id"  >
										</div>
									
									</div>
								</div>
							</form>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary"
									th:onclick="Exebtn(this);">Execute</button>
							</div>
						</div>
					</div>
				</div>
				<!-------------------------------------Details edit modal form----------------------------------------------------->
	
	
	<!------------------------Pop window - Domain  list Ends--------------------------------->
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
	<div class="modal fade" id="alert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<p id="alertmsg"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
</body>
</html>