<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>


<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>


</head>
<title>XBRL</title>
<style>
.customcol {
	padding-left: 0px;
	padding-right: 0px;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	border-color: #e9ecef;
}

.modal-backdrop {
	background-color: +;
	zoom: 1;
}

.addedit {
	color: #007bff;
}
</style>


<!----------------------------------------Scripts to edit report details-------------------------------------------->
<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {
		
		var table;

		$("#repDate").datepicker({
			changeMonth : true,
			changeYear : true,
			maxDate : new Date(),
			dateFormat : "dd-mm-yy"
		});
		
		
		table = $("#branch").DataTable({
			
			"info" : false,
			"lengthChange" : false,
			"columns" : [
				{"title":"Sol Id"},
				{"title":"Branch Name"},
				{"title":"Branch Code"},
				{"title":"Branch Open Date"},
				{"title":"Branch Currency"},
				{"title":"MICR Code"},
				{"className": 'details-control',
		          "orderable":  false,
		          "defaultContent": '',
		          "title" : ""}
				
			]
			
		});
	
	function format ( d ) {
	    // `d` is the original data object for the row
	   var htmlstr;
	   
	    
	    htmlstr = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
	        '<tr>'+
	            '<td>Address:</td>'+
	            '<td colspan="2">'+d+'</td>'+
	        '</tr>';
	    
			htmlstr = htmlstr + '</table>';
	    
	    return htmlstr;
	};
	
	$('#branch tbody').on('click', 'td.details-control', function () {
		var address = $(this).attr("data-address");		
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(address) ).show();
            tr.addClass('shown');
        }
    } );

	});

	
	

	/*]]>*/
</script>
<style>
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
} 
td.details-control {
    background: url("images/details_open.png") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("images/details_close.png") no-repeat center center;
}
</style>
<body>
	<!----------------------------------------------------- Header Section starts ----------------------------------------------------->
	<div th:insert="XBRLHeaderMenu :: header"></div>
	<!----------------------------------------------------- Header Section Ends ------------------------------------------------------->
	<i class="fa fa-question-circle" aria-hidden="true"
		onclick="docEmb('Report')" id="ques"></i>
	<div class="container content" th:fragment="reportcontent">

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<div class="float-left">
							<h4>Bank & Branch Master</h4>
						</div>
						
					</div>
					<div class="card-body">
						<table class="table table-bordered  table-hover table-sm"
							id="branch">
							<tbody>
								<tr th:each="branch : ${branchList}">
									<td th:text="${branch.sol_id}"></td>
									<td th:text="${branch.sol_desc}"></td>
									<td th:text="${branch.br_code}"></td>
									<td th:text="${#dates.format(branch.br_open_date,'dd-MM-yyyy')}"></td>
									<td th:text="${branch.home_crncy_code}"></td>
									<td th:text="${branch.micr_centre_code}+''+${branch.micr_bank_code}+''+${branch.micr_branch_code}"></td>
									<td th:attr="data-address=${branch.addr_1}+', '+${branch.addr_2}"></td>
								</tr>
							</tbody>
						</table>
						
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
	<div class="modal fade" id="alert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<p id="alertmsg"></p>
					<button type="button" class="btn btn-primary"
						onclick="location.reload();" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
</body>
</html>